<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfZ3iwgLmFHjIYNTdb_QrenrJoqzVQkjc</string>
	<key>GCM_SENDER_ID</key>
	<string>583531830972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.wordle</string>
	<key>PROJECT_ID</key>
	<string>wordle-b863a</string>
	<key>STORAGE_BUCKET</key>
	<string>wordle-b863a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583531830972:ios:26943d7bd6c0d2b0da3ab9</string>
	<key>DATABASE_URL</key>
	<string>https://wordle-b863a-default-rtdb.firebaseio.com</string>
</dict>
</plist>